/* navbar */
ul{
	margin:0 auto;
}
.active{
	text-decoration: underline!important;
	text-decoration-color: green!important;
}
.nav-link{
	font-size: 50px;
	margin-right: 175px;
}
.navbar{
	background-color: #d4d7de!important;
}
#priceall {
font-size:50px;
}
/* navbar */

/* cards */
/* bootstrap card */
.card{
	z-index: 1;
}
.card-body {
	text-align: right;
}
.card-text{
	text-align: center!important;
	font-size: 30px;
}
/* bootstrap card */
/* custom color card */
.cardsalmon{
    background-color: salmon;
    border: 10px solid rgba(0,0,0,.125);
}
.cardblue{
    background-color: turquoise;
    border: 10px solid rgba(0,0,0,.125);	
}
.cardyellow{
    background-color: #ffc107;
    border: 10px solid rgba(0,0,0,.125);	
}
/* custom color card */
/* card rows */
#pizzas{
	margin: 0 auto;
	margin-top: 75px;
	text-align: center;
}
#sizes{
	margin: 0 auto;
	margin-top: 75px;
	text-align: center;	
}
#toppings{
	margin: 0 auto;
	margin-top: 75px;
	text-align: center;	
}

/* card rows */
.rows{
	position: absolute;
	margin-top: 30px;
}
.col-sm-2{
	float: left;
}
.price {
    font-size: 35px;
    color: white;
    font-weight: 700;
    margin-top: -30px;
    text-align: center;
}
.addButton {
	background-color:  #25AB1F;
	color: white
}
/* cards */

/* all */
#newPizza {
	height: 75px;
	width: 200px;
	background-color: #25AB1F;
	color: white;
	font-size: 22px; 
	position:absolute;
	margin: auto 10em;
	top: 725px;
}
.hidden{
	display: none!important;
}
#nextpage {
    top: 725px;
    margin: auto 43em;
    position: absolute;
    height: 75px;
    width: 200px;
    background-color: #25AB1F;
    color: white;
    font-size: 35px;
}
/* all */

/* shoppingcart */
section#shoppingcart{
	z-index: 2;
	height: 100%;
	width: 100%;
	border: rgb(212, 208, 208) 5px solid;
	background-color:white;
	top: 0px;
	left: 0px; 
	position: fixed;
}

#divgray{
	background-color: rgb(218, 211, 211);
	width: 50%;
	margin:  auto auto ;
	margin-top: 5%;
	
	border: 5px rgb(108, 92, 92) solid;
}
#exitSC{
top: 10px;
right: 10px;
height: 40px;
position: fixed;
cursor: pointer;
}
#totalword {
	margin-left: 25rem!important;

}
#openSC{
top: 725px;
margin: auto 39em;
position: absolute;
height: 75px;
width: 200px;
background-color: #25AB1F;
color: white;
font-size: 22px;
}
/* shoppingcart */

/* footer */
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
}
/* footer */